.todos-container-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 330px;
  min-height: 600px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

.todos-app-tittles {
  font-size: 20px;
  font-weight: 600;
  background-image: linear-gradient(to left, #589a3c, #93a6d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}

.todos-important-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #2e4517;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: #2e4517 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: 5px 10px 5px 10px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.todos-list-container {
  margin-top: 20px;
}

.todos-new-modal {
  margin: auto;
  margin-top: 60px;
  max-width: 300px;
  padding: 30px;
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px,
    rgba(0, 0, 0, 0.11) 0px 1.6px 3.6px;
  border: 1px solid rgb(234, 234, 234);
  width: 200px;
}

.todos-new-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
